* {
    margin: 0;
    padding: 0;
  }

.main{
  padding-left: 23em;
} 

.main-heading{
  color: wheat;
  margin-left: 1.2em;
}

.input{
  background-color: wheat;
  color: #000;
  font-weight: 700;
  height: 3em;
  width: 30em;
  margin-top: 3em;
}

.speak-button{
  background-color: grey;
  color: whitesmoke;
  margin-left: 3em;
  height: 3em;
  width: 5em;
}

.hear-button{
  background-color: grey;
  color: whitesmoke;
  height: 2em;
  width: 5em;
  margin-top: 2em;
  margin-left: 13em;
}